.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left{
  flex-basis: 40%;
}

.about-left video{
    width: 100%;
}

.about-left video::-webkit-media-controls{
    display: none;    
}

.about-right{
    flex-basis: 50%;
    margin-left: 50px;
}

.about-right h3{
    font-size: 24px;
    font-weight: 600;
    color: #212ea0;
}

.about-right h2{
    font-size: 35px;
    color: #000f38;
    margin: 10px 0;
    max-width: 400px;
}

.about-right p{
    color: #676767;
    margin-bottom: 15px;
}


/* ----- media query ----- */

@media(max-width: 950px){
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
    }

    .about-right{
        flex-basis: 100%;
        margin-left: 20px;
    }
}