.home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../../assets/home.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    text-align: center;
    max-width: 800px;
}

.home-text h1{
    font-size: 60px;
    font-weight: 600;
}

.home-text {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.home-text p{
  margin-bottom: 20px;
}

/* ----- media query ----- */

@media(max-width: 1050px){
   .home-text{
     max-width: 700px;
   } 

   .home-text p{
    margin-bottom: 20px;
   }
}

.menu-bar{
    display: none;
}

@media(max-width: 990px){
   .home-text{
     max-width: 600px;
     margin: auto;
   }
}

@media(max-width: 650px){
   .home-text{
    max-width: 400px;
   }

   .home-text h1{
     font-size: 30px;
   }

   .home-text p{
     font-size: 14px;
   }
}