.campus{
    margin: 80px auto;
    width: 100%;
    text-align: center;
    justify-content: space-between;
  
}

.gallery img{
    width: 20%;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 50px;
}

/* ----- media query ----- */

@media(max-width: 850px){
    .gallery{
        flex-wrap: wrap;
    }

    .gallery img{
        width: 40%;
        margin-bottom: 25px;
    }    
}

@media(max-width: 550px){
    .gallery img{
        width: 80%;
        margin-bottom: 25px;
    }    
}